/* RESET NAVIGATOR */
* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul, ol {
    list-style: none;
}

/* STYLE GLOBAL */

* {
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
}

.flux {
    margin-left: 75px;
    margin-right: 75px;
}

.flux-bottom {
    margin-bottom: 50px;
}

html {
    width: 100%;
    height: auto;
}

.r {
    color:red;
    font-size: 50px;
}

.button { 
    padding: 10px;
}
/* START Header Style*/

.header {
    background-color: lightblue;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: solid 2px black;
    }

.society-logo{
    width: 50%;
}

.logo {    
    width: 200px;
    height: 150px;
    object-fit: cover;
}

.nav {
    width: 90%;
}

.nav-list {
    display: flex;   
    justify-content: space-around;
    justify-items: center;



}

.nav-link {
    text-align: flex-end;

}















.main {
    padding-top: 15px;
    padding-bottom: 40px;
    display: flex;
    width: 100%;

}
.cover {
    background-color: aqua;
    height: auto;
    width: 50%;

}

.name {
    color: white;
    font-size: 50px;
    text-align: center;
    padding-bottom: 10px;
}

.text-cover {
    line-height: 150%;
}

.main .cover .image-cover {
    max-width: auto;
    height: 20%;
}


.second-hand {
    border: solid 1px black;
    border-collapse: collapse;
    width: 50%;
    height: auto;
}

h2 {
    display: flex;
    justify-content: center;
}

.link-car {
    display: flex;
    padding: 5px;
    margin-bottom:10px;
}


.list-car,
.link-car {
    border: solid 1px orange;
    border-collapse: collapse;
}



.opinion {

}
.footer {
    background-color: grey;
    margin-top: 15px;
    display: flex;
        justify-content: space-between;
    gap: 15px;
}

.timetable {
    height: 80%;
    flex-flow: wrap;
}






/* stylisation page vehicule */

.table {
    border-collapse: collapse;
}

.table,
.th,
.td {
    border: solid 2px black; 
}

.thead {
    width: 100%;
}